DATABASE_URL=postgresql://root:root@localhost:5432/rocketseat_fastify
OPENAI_API_KEY=your_openai_api_key_here
JWT_SECRET=your_jwt_secret_here
JWT_ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN_DAYS=30
